*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1a1a1a;
    height: 100vh;
    /* display: flex;    
    flex-wrap: wrap; */
}
h1{
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    /* color: #00e1ff; */
    justify-content: center;
    text-align: center;
    font-weight: 700;
    margin: 15px 0px;
    text-transform: uppercase;
    font-size: 28px;

}

.forms_body{    
    width: 85%;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    background-color: #333333;   
    border-radius: 25px;
    padding: 10px;    
}

.text_form{
    color: #f5f5f5;
}
#f-cadastro{
    width: 232px;

}
.input_form{
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-bottom: 5px;
}

.forms{
    margin-left: auto;
    margin-right: auto; 
    width: fit-content; 
}

/* .forms_div{
    width: 100%; 
    margin: 10px 0px; 
} */


.btn{
    text-decoration: none;
    border: none;
    border-radius: 10rem;
    padding: 0.25rem 1rem; 
    background-color: #2396d8;
    color: #ffffff;
    width: 100%;
    height: 35px;
}
.btn:active{
    background-color: #0f6a9e;
    transition: ease-out 0.25s;
}

.btn.secundario{
    background-color: rgb(0, 72, 155);
    margin: 10px 0;
}

.btn.secundario:active{
    background-color: rgb(0, 49, 105);
}

.text_btn{
    font-weight: 700;
    font-size: 16px;
}
/* Header */
.menu_sup{
    width: 100%;
    height: 4rem;
    background-color: #0f6a9e;
    display: flex;    
    flex-wrap: wrap;
    align-items: center;

}
.userimg{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100px;    
}
.user_a{
    float: right;
    margin-right: 1rem;
    margin-left: auto;    
}
.main_menu{
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.menu_title{
    padding-left: 1rem;
}
.forms_div_pesquisa{
    width: 100%;
    margin: 1px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;

}
.forms_div_pesquisa p{
    margin-right: 1rem;
}
.div_evento{
    display: flex;
    margin: 1rem;
    align-items: center;
}

.img_evento{
    max-width: 500px;
    max-height: 310px;
    min-width: 500px;
    min-height: 310px;
    margin-right:1rem ;
}
h4{
    color: white;
    font-size: 32px;
}
p{
    color: white;
}
.event_descricao{
    text-align: justify;
    font-size: 12px;
    margin: 1rem 0;
}
.event_info, .event_info_top{
    display: flex;
    align-items: center;
}
.event_info p{
    margin-right: 1rem;
}
.event_price{
    margin-left: auto;
    margin-right: 1rem;
    color: #4c9b4c;
    font-size: 24px;
    font-weight: 600;
}

.btn.buy{
    background-color: #4c9b4c;
    margin-bottom: 10px;
}
.btn.pesquisa{
    background-color: #4c9b4c;
    margin-bottom: 0px;
    margin-left: 1rem;
    text-decoration: none;
    border: none;
    border-radius: 10rem;
    padding: 0.25rem 0 0 0.1rem; 
    background-color: #2396d8;
    color: #ffffff;
    width: 35px;
    height: 35px;
}
.icon_pesquisa{
    height: 16px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    filter: brightness(0) invert(1);

}

.forms_body.destaque{    
    width: 85%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    background-color: #333333;   
    border-radius: 25px;
    padding: 10px;
    
}

.linha_divisor{
    background: rgb(140,140,140);
    background: linear-gradient(-90deg, rgba(140,140,140,0.3) 0%, rgba(77,77,77,1) 50%, rgba(140,140,140,0.3) 100%);
    width: 80%;
    height: 1px;
    margin: 1.25rem auto;
    
}
.show_events{
    text-align: center;
}

/* Btn Menu */
.btn_menu{
    width: 4rem;
    height: 4rem;
    text-decoration: none;
    border: none;
    /* border-radius: 10rem; */
    /* padding: 0.25rem 1rem;  */
    background-color: #2396d8;
    color: #ffffff;
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu_btn{
    display: flex;
    /* margin-left: 10rem; */
    margin: 0 auto;
}
.menu_btn p{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}

.input_form.desc{
    height: 10rem;
    width: 20rem;
    padding: 0.75rem;
    resize: none;
}

.input_form.local{
    height: 5rem;
    width: 20rem;
    padding: 0.75rem;
    resize: none;
}

.father_forms_div{
    display: flex;
}
.father_forms_div .forms_div{
    margin: auto;
}